/* @tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  background-color: #1677ff;
} */
